<main>
  <section>
    <aside>
      <h2 class="mat-headline">
        {{ name | async }} &mdash;<br>
        <i18n>newActivities</i18n>
      </h2>
      <strong class="mat-title">
        {{ tagline }}
      </strong>
      <nav>
        <ng-container *ngFor="let item of activities">
          <activity-card [item]="item"></activity-card>
        </ng-container>
      </nav>
    </aside>
  </section>
  <section>
    <article class="mat-title" [innerHTML]="content"></article>
    <aside>
      <figure>
        <video controls>
          <source src="videos/intro.mp4" type="video/mp4">
        </video>
        <figcaption>
          <fa-icon icon="film"></fa-icon>
          <strong class="mat-title">
            <i18n>videoIntro</i18n>
          </strong>
        </figcaption>
      </figure>
    </aside>
  </section>
  <section>
    <figure>
      <img alt="Sponsor One" src="images/icon.png" title="Sponsor One">
      <figcaption class="mat-body-strong">Sponsor One</figcaption>
    </figure>
    <figure>
      <img alt="Sponsor Two" src="images/icon.png" title="Sponsor Two">
      <figcaption class="mat-body-strong">Sponsor Two</figcaption>
    </figure>
    <figure>
      <img alt="Sponsor Three" src="images/icon.png" title="Sponsor Three">
      <figcaption class="mat-body-strong">Sponsor Three</figcaption>
    </figure>
    <figure>
      <img alt="Sponsor Four" src="images/icon.png" title="Sponsor Four">
      <figcaption class="mat-body-strong">Sponsor Four</figcaption>
    </figure>
  </section>
</main>
